.header {
  width: 100vw;
  background-color: rgb(130, 248, 248);
}

.header img {
  width: 20vw;
}

.footer {
  width: 100vw;
  background-color: rgb(231, 245, 245);
  border-top: 1px solid rgb(184, 185, 185);
  border-radius: 10px;
}

.footer h4 {
  font-weight: 300;
  font-size:  1em;
  color: rgb(54, 54, 54);
}

.login, .profile {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.login label, .profile label {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login h4 {
  font-weight: 600;
  font-size:  1em;
  color: rgb(20, 20, 20);
  margin-right: 10px;
}

.login input, .profile input {
  width: 30vw;
  height: 5vh;
  color: rgb(20, 20, 20);
  border-radius: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.loginButton {
  background-color: rgb(48, 245, 245);
  font-size:  1em;
  font-weight: 900;
  border-radius: 20px;
  border: 2px solid rgb(37, 177, 177);
}

.loginButton:hover {
  background-color: rgb(39, 216, 216);
  font-size:  1.2em;
  border: 2px solid rgb(41, 180, 180);
}

.profileButton {
  background-color: rgb(16, 17, 17);
  color: rgb(231, 236, 241);
  font-size:  1em;
  width: 15vw;
  height: 5vh;
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid rgb(33, 34, 34);
}

.profileButton:hover {
  background-color: rgb(12, 12, 12);
  color: rgb(231, 236, 241);
  font-size:  1em;
  width: 17vw;
  height: 6vh;
  font-weight: 600;
}