.header {
  width: 100vw;
  background-color: rgb(130, 248, 248);
}

.header img {
  width: 20vw;
}

.footer {
  width: 100vw;
  background-color: rgb(231, 245, 245);
  border-top: 1px solid rgb(184, 185, 185);
  border-radius: 10px;
}

.footer h4 {
  font-weight: 300;
  font-size:  1em;
  color: rgb(54, 54, 54);
}

.login {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.login label {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login h4 {
  font-weight: 600;
  font-size:  1em;
  color: rgb(20, 20, 20);
  margin-right: 10px;
}

.login input {
  width: 30vw;
  height: 5vh;
  color: rgb(20, 20, 20);
  border-radius: 20px;
}

.login button {
  background-color: rgb(48, 245, 245);
  font-size:  1em;
  font-weight: 900;
  border-radius: 20px;
  width: 20vw;
  height: 8vh;
  border: 2px solid rgb(37, 177, 177);
}
