.header {
  width: 100 vw;
  height: 20 vh;
  background-color: rgb(130, 248, 248);
}

.header img {
  width: 30 vw;
}

.footer {
  width: 100 vw;
  background-color: rgb(182, 252, 252);
  border-radius: 15 px;
}

.footer h4 {
  font-weight: 300;
  font-size:  0.5 em;
  color: rgb(54, 54, 54);
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
